@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  background-image: url('bg-pattern-desktop.svg');
}
input {
 outline:none;
 width: 100%;
 padding: 10px;
}
.btn {
  background-image: linear-gradient(to right, hsl(0, 36%, 70%), hsl(0, 93%, 68%));
  padding: 10px 40px;
  position: absolute;
  top: 548px;
  left: 470px;
}
#left-cont {
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 20px;
}
h1 {
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 10px;
  font-weight: 700;
}
.col-xl-6 p {
  color: hsl(0, 36%, 70%);
}
#errorImg {
  position:absolute;
  left: 435px;
  top: 558px;
}
@media (max-width:400px) {
  body {
    text-align: center;
  }
  .col-xl-6 img {
    width: 100%;
  }
  #left-cont {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .btn {
    position: absolute;
    top: 1031px;
    left: 265px;
  }
  #errorImg {
    position:absolute;
    left: 230px;
    top: 1041px;
  }
  header img {
    width: 80% !important;
  }
  input {
    margin-left: 15px;
  }
}
@media (min-width:500px) and (max-width:1000px) {
  .btn {
    position: absolute;
    top: 1324px;
    left: 470px;
  }
  #errorImg {
    position:absolute;
    left: 435px;
    top: 1334px;
  }
  body {
    text-align: center;
  }
  input {
    margin-left: 20px;
  }
}
